<%= form_for(@usuario, html: {class: 'form-horizontal'}) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :Nome_completo, class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.text_field :nome, class: 'col-sm-9 form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :Email, class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.text_field :email, class: 'col-sm-9 form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :Senha, class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.text_field :password, class: 'col-sm-9 form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :Confirme_sua_senha, class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.text_field :password_confirmation, class: 'col-sm-9 form-control' %>
    </div>
  </div>

  <% if params[:action] == 'new' %>
    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
        <%= f.check_box :password_confirmation%>
        <%= f.label :Aceito_os_termos_de_Uso %>
      </div>
    </div>
  <% end %>

  <div class="actions form-group">
    <div class="col-sm-9 col-sm-offset-3">
      <%= f.submit class: 'btn btn-primary btn-block' %>
    </div>
  </div>
<% end %>
