<%= form_for(@usuario, html: {class: 'form-horizontal'}) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% {nome: 'Nome Completo', email: 'Email', password: 'Senha', password_confirmation: 'Confirme sua senha'}.each do |field, label| %>
    <div class="form-group">
      <%= f.label label, class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= f.text_field field, class: 'col-sm-9 form-control' %>
      </div>
    </div>
  <% end %>

  <% if ['new', 'create'].include? params[:action] %>
    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
        <%= f.check_box :termos_de_servico %>
        <%= f.label :Aceito_os_termos_de_Uso %>
      </div>
    </div>
  <% end %>

  <div class="actions form-group">
    <div class="col-sm-9 col-sm-offset-3">
      <%= f.submit class: 'btn btn-primary btn-block' %>
    </div>
  </div>
<% end %>
