<!DOCTYPE html>
<html>
    <head>
        <title>Teste</title>
        <meta name="viewport" content="width=devide-width, initial-scale=1.0">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    </head>
    <body>

        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-brand">
                  <%= link_to(image_tag('logo_texto.png', style: 'max-width:100px; margin-top: -7px;'), root_url)%>
                </div>

                <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse navHeaderCollapse">

                    <!-- BUSCA -->
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Busca">
                        </div>
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </form>

                    <!-- OPCOES USUARIO -->
                    <ul class="nav navbar-nav navbar-right">
                        <li> <a href="#"> Cadastre-se </a> </li>
                        <li> <a class="dropdown-toggle" data-toggle="dropdown"> Login </a>

                            <!-- LOGIN POPUP -->
                            <div class="dropdown-menu" >
                                <div class="input-group">
                                    <form class="form-horizontal">
                                      <div class="form-group">

                                            <label for="inputEmail3">Email: </label>
                                            <input type="email" class="form-control" id="inputEmail3" placeholder="Usuário">

                                      </div>
                                      <div class="form-group">

                                            <label for="inputPassword3">Senha: </label>
                                            <input type="password" class="form-control" id="inputPassword3" placeholder="Senha">

                                      </div>
                                      <div class="form-group">

                                          <button type="submit" class="btn btn-default">Entrar</button>

                                      </div>
                                    </form>
                                </div>
                            </div>

                        </li>

                    </ul>

                </div>
            </div>
        </div>
        <div class="container">
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
          <%= yield %>
        </div>
<%= debug(params) %>
</body>
</html>
